<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xu.tt.dao.CCaseMapper" >
  <resultMap id="BaseResultMap" type="com.xu.tt.dto.CCase" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="case_no" property="caseNo" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="case_org_id" property="caseOrgId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_user_id" property="orgUserId" jdbcType="INTEGER" />
    <result column="product_v" property="productV" jdbcType="VARCHAR" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_phone" property="uPhone" jdbcType="VARCHAR" />
    <result column="u_idno" property="uIdno" jdbcType="VARCHAR" />
    <result column="ct_entrust_dt" property="ctEntrustDt" jdbcType="TIMESTAMP" />
    <result column="ct_entrust_amount" property="ctEntrustAmount" jdbcType="DECIMAL" />
    <result column="retain_id" property="retainId" jdbcType="INTEGER" />
    <result column="retain_state" property="retainState" jdbcType="INTEGER" />
    <result column="ct_payback_amount" property="ctPaybackAmount" jdbcType="DECIMAL" />
    <result column="ct_residue_amount" property="ctResidueAmount" jdbcType="DECIMAL" />
    <result column="ct_reduction_money" property="ctReductionMoney" jdbcType="DECIMAL" />
    <result column="payback_amount" property="paybackAmount" jdbcType="DECIMAL" />
    <result column="reduction_amount" property="reductionAmount" jdbcType="DECIMAL" />
    <result column="case_dt" property="caseDt" jdbcType="TIMESTAMP" />
    <result column="case_status" property="caseStatus" jdbcType="INTEGER" />
    <result column="case_status_dt" property="caseStatusDt" jdbcType="TIMESTAMP" />
    <result column="case_status_ext" property="caseStatusExt" jdbcType="VARCHAR" />
    <result column="call_log_id" property="callLogId" jdbcType="INTEGER" />
    <result column="call_status_text" property="callStatusText" jdbcType="VARCHAR" />
    <result column="allot_version" property="allotVersion" jdbcType="INTEGER" />
    <result column="ins_id" property="insId" jdbcType="INTEGER" />
    <result column="ins_dt" property="insDt" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_dt" property="updDt" jdbcType="TIMESTAMP" />
    <result column="loan_trans_amount" property="loanTransAmount" jdbcType="DECIMAL" />
    <result column="id_no_reverse" property="idNoReverse" jdbcType="VARCHAR" />
    <result column="entrust_batch" property="entrustBatch" jdbcType="VARCHAR" />
    <result column="allot_batch" property="allotBatch" jdbcType="VARCHAR" />
    <result column="sp_mark_status" property="spMarkStatus" jdbcType="INTEGER" />
    <result column="sp_mark" property="spMark" jdbcType="VARCHAR" />
    <result column="refund_code" property="refundCode" jdbcType="VARCHAR" />
    <result column="contact_state" property="contactState" jdbcType="INTEGER" />
    <result column="amount_ext" property="amountExt" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>